.checkbox {
    width: 57px;
    height: 57px;
    padding: 20px;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}

.checkbox strong {
    color: rgb(109, 108, 108);
    font-size: 24px;
}

.kurishModalBajaruvchi {
    margin: 0 300px;
    /* width: 1600px; */
    width: 100%;
    margin: auto;
}

.kurishModalBajaruvchi .modal-content {
    /* width: 1600px; */
    width: 90%;
    margin: auto;
}

.inlineContent input,
.inlineContent3 input {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.iconCheck {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: lightgray;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: all ease-in .2s;
    font-size: 32px;
}

.checkbox:hover .iconCheck {
    display: flex;
}

.iconIjroCOntent {
    padding: 20px;
    border-radius: 5px;
    background-color: #0056B8;
    color: #fff;
    transition: all ease-in .15s;
    cursor: pointer;
}

.iconIjroCOntent:hover {
    background-color: rgb(64, 64, 241);
}

/* e-imzo */
.testform {
    margin: 10px;
    width: 100%;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
    color: #000;
}

.key {
    list-style: none;
    position: absolute;
    top: 48.7px;
    left: -2px;
    right: -1px;
    background-color: #fff;
    z-index: 9999;
    border: 1px solid lightgray;
    max-height: 350px;
    overflow-y: scroll;
}

.key li {
    /* margin-bottom: 5px; */
    padding: 3px;
    cursor: pointer;
    /* font-size: 16px; */
    text-transform: uppercase;
    transition: all ease-in 0.15s;
    border-bottom: 1px solid lightgray;
}

.key li:hover {
    background-color: rgba(220, 220, 220, 0.522);
}

.key span {
    padding: 2px 0px;
    display: flex;
    align-items: center;
}

.key span img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.key li strong {
    margin-right: 10px;
}

.testform textarea {
    resize: vertical;
    width: 100%;
}

.selectElement {
    position: relative;
    width: 100%;
    height: 50px;
    border: 1px solid silver;
}

.selectValue {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    padding: 10px;
}

.testformDiv {
    margin-right: 20px;
}

.validTime {
    font-size: 10px;
    text-transform: capitalize;
}

.tashkilotName {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 1 !important;
    -webkit-box-orient: vertical !important;
}

.iconDownUp {
    position: absolute;
    top: 16px;
    right: 8px;
    font-size: 15px;
}


/* fishka */
.reacttopdf {
    /* padding-top: 0; */
    width: 100%;
    border: 1px solid lightgray;
    padding: 15px;
}

.pdfHeader {
    display: flex;
    align-items: center;
}

.pdfHeader h1 {
    flex: 1;
    text-align: center;
    font-size: 28px;
}

.pdfHeader h1 span {
    color: rgb(75, 204, 75);
}

.pdfHeader img {
    width: 100%;
    height: 300px;
}

.hr {
    height: 4px;
    background-color: #000;
}

.pdfDate {
    display: flex;
    justify-content: space-between;
}

.pdfNazorat {
    display: flex;
}

.h4NazoratRight {
    margin-right: 20px;
    color: steelblue;
}

.hr2 {
    margin: 0;
    width: 100%;
}

.pdfContent {
    margin-top: 60px;
    text-align: center;
}

.topContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.topContent h1 {
    margin: 0;
    margin-right: 10px;
}

.topContent h2 {
    margin: 0;
    height: 100%;
    padding-top: 5px;
}

.pdfFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pdfFooter h3 {
    flex: 1;
}

.pdfFooter img {
    width: 150px;
    height: 150px;
}


.iconCheckSuccess {
    padding: 5px;
    border-radius: 5px;
    transition: all ease-in .15s;
    color: rgba(0, 128, 0, 0.365);
}

.iconCheckDanger {
    padding: 5px;
    border-radius: 5px;
    transition: all ease-in .15s;
    color: rgba(220, 20, 60, 0.331);
}

.iconCheckSuccess:hover {
    color: rgb(0, 128, 0);
}

.iconCheckDanger:hover {
    color: rgb(220, 20, 60);
}


/* ijro hujjatini o'zgartirish */
.adminWindowHeight {
    width: 100% !important;
    max-height: 800px !important;
    overflow-y: scroll;
}

.deleteDocuments {
    padding: 20px;
}

.deleteDocuments ul {
    list-style: none;
}

.deleteDocuments ul li {
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.47);
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.deleteDocuments ul li span {
    font-size: 16px;
}

.deleteDocuments ul li i {
    font-size: 22px;
    cursor: pointer;
    transition: all ease-in .15s;
}

.deleteDocuments ul li i:hover {
    color: crimson;
}

.kiruvchiMain span {
    font-size: 17px !important;
}


/* fishka */
.fishkaLeftIJroMain {
    background-color: rgb(73, 72, 72);
    width: 75%;
    margin: auto;
    padding: 80px 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.fishkaLeftIJro {
    width: 90%;
    background-color: #fff;
    padding: 20px;
    height: 100%;
}

.mainImgFishka {
    width: 100%;
}

.fishkaLeftIJroMain button {
    margin-top: 20px !important;
}

.cardTypeYuklash .css-26l3qy-menu,
.cardNameYuklash .css-26l3qy-menu {
    /* position: inherit; */
    z-index: 999 !important;
}

.iconCheckDanger {
    background-color: crimson;
    width: 30px;
    height: 30px;
    color: #fff !important;
    margin: 5px 0;
    margin-right: 3px;
    cursor: pointer;
    margin-top: 7px !important;
}

.iconCheckDanger:hover {
    background-color: rgb(240, 86, 117);
}

.iconCheckSuccess {
    background-color: green;
    width: 30px;
    height: 30px;
    color: #fff !important;
    margin: 5px 0;
    margin-left: 3px;
    cursor: pointer;
    margin-top: 7px !important;
}

.iconCheckSuccess:hover {
    background-color: rgb(59, 183, 59);
}

.closedIjroTextArea {
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding: 10px;
}


.span0 {
    background-color: #0071C1 !important;
}

.span00 {
    background-color: #FFC000 !important;
    color: #000 !important;
}

.userCommit {
    /* text-align: justify !important; */
    width: 100%;
    margin-top: 5px;
    background-color: #ef5350;
    color: #fff;
    font-weight: bold !important;
    border-radius: 3px;
}


/* ul rangini o'zgartirish uchun */
.middleUl {
    list-style: none;
}

.middleUl li::before {
    content: "\2022";
    color: rgb(184, 156, 65);
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -18px;
}


@media (max-width: 576px) {
    .bodyModal {
        display: block !important;
        padding: 10px;
    }

    .inputTashqiTash {
        width: 100%;
    }

    .tashqiBajUlInline {
        padding: 10px;
    }
    .kurishModalBajaruvchi .modal-content {
        width: 98%;
    }
}