.input-border{
    border:1px solid lightgray;
    border-radius:5px;
    padding:8px 16px;
}
.input-border:active{
    border:1px solid #0056B8;
}

.input-border .first{
    margin-left:30px;
    width:100% !important;
}
.second{
    margin-left:5px;
    width:59% !important;
    padding-left:5px;
}


.input-border input{
    border:none !important;
    width:100% !important;
    outline:none;

}

/* 
.input-border input::after, .input-border input::before {
    display: none;
} */