.updateDataWindow, .deleteDataWindow {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    animation: animOpacity .2s;
    z-index: 9999 !important;
}
.updateDataWindowWrapper, .deleteDataWindowWrapper {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 75%;
    display: flex;
    justify-content: center;
}
.updateDataWindowWrapper form, .deleteDataWindowWrapper .form {
    width: 800px;
    background-color: #fff;
}
.updateDataWindowWrapper form hr {
    margin: 10px;
}
.updateDataWindowTop, .deleteDataWindowTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #0056B8;
    padding: 8px 15px;
    color: #fff;
    font-weight: bold;
}
.updateDataWindowTop span, .deleteDataWindowTop span {
    font-size: 26px;
    cursor: pointer;
}
.updateDataWindowCenter {
    margin: 10px;
}
.updateDataWindowCenter input {
    margin: 20px 0;
    padding: 20px 10px;
}
.updateDataWindowBottom {
    text-align: right;
    margin: 10px;
}
.updateDataWindowBottom button {
    margin-left: 10px;
}

.deleteDataWindowCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

@keyframes animOpacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}